@import "tailwindcss";

:root {
  --primary-color: #363636;
  --secondary-color: #ffffff;
  --text-color: #000000;
  --text-color-2: #ffffff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Guide {
  max-width: 90vw;
  max-height: 90vh;
  aspect-ratio: 4 / 5;
  font-size: min(calc(90vw / 25), calc(90vh * 4 / 5 / 25));
  border: #000000 1px solid;
  padding: 3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}